---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Cyprien Vallée" description="About Cyprien Vallée">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Venez découvrir mon parcours et mes compétences."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.webp"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Formation</h2>
				<div class="content">
					<p>
						D'une formation initial en bac +2 en hôtellerie et après 5 ans de travail en tant que réceptionniste et commercial/ organisateur de groupes et séminaires, j'ai décider de partir dans un métier qui me plaisait depuis longtemps et que je n'avais jamais osé sauté le pas, dans le monde du développement web.
					</p>
					<p>
						Actuellement en reconversion professionnel après une formation de 4 mois en Full Stack, une spécialisation de 2 mopis en Symfony/ Php/ Back-end et une période de projet de groupe de 2 mois, je suis quelqu'un de motivé à en apprendre plus sur ce métier.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>BAC+2 Responsable hébergement en hôtellerie, Titre professionnel Développeur Web et Web Mobile.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Motivé, Curieux, Gestion de crise, Travail d'équipe, Polyvalent</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
